<div class="jumbotroncmt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos culpa perferendis voluptate obcaecati repellat id repudiandae dignissimos necessitatibus, quas exercitationem molestias excepturi quam natus illum provident nemo? Suscipit, obcaecati perspiciatis.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sapiente provident culpa pariatur, rerum illo unde, temporibus necessitatibus autem excepturi nulla ducimus officiis earum hic. Rem dicta vel qui iusto?</p>
    <a href="https://www.faztweb.com" class="btn btn-primary">Faztweb</a>

</div>

