{{#if error}}
 <div class="alert alert-denger alert-dismissible fade show" role="alert">
    {{error}}
  </div>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
{{/if}}

{{#each errors}}
  <div class="alert alert-denger alert-dismissible fade show" role="alert">
    {{text}}
  </div>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
{{/each}}